<h3>This is a client page</h3>
<p> Name: <%= @client.name %></p>
<p> Phone number: <%= @client.phone %></p>
<p> Date & time of the visit: <%= @client.datestamp %></p>
<p> Color: <%= @client.color %></p>